package ${packageName}.domain;

import lombok.Data;
import io.swagger.annotations.*;

import java.util.Date;

import com.tianyuan.common.core.web.page.BasePage;

import java.io.Serializable;

/**
 * ${functionName}查询对象
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@ApiModel(description = "${functionName}查询对象")
public class ${ClassName}Dto extends BasePage implements Serializable {

    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)

    @ApiModelProperty(value = "$column.columnComment")
    private $column.javaType $column.javaField;
#if($column.javaField.equals("createTime"))
#set($hasCreateTime = true)
#end
#end
#if($hasCreateTime)

    @ApiModelProperty(value = "开始时间")
    private Date beginTime;

    @ApiModelProperty(value = "结束时间")
    private Date endTime;
#end

}
